  
  <p>
  <strong>Зочин:</strong>
  <%= comment.user %>
</p>
 
<p>
  <strong>Санал хүсэлт:</strong>
  <%= comment.post %>
</p>
 
<p>
  <%= link_to 'Destroy Comment', [comment.place, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>