.nav-link{
  margin-left: 20px;  
}
.nav-link a{
  color: #ffffff;
  font-size: 22px;
  font-family: 'roboto', serif;
}
.navbar.navbar-expand-md.fixed-top.navbar-light {   
     background: #00c4cc;
   background-image: linear-gradient(240deg, #00C4CC 0%, #7D2AE8 100%); 
}
.navbar-brand {
	height: 30px;
  padding: 0px;
}
.navbar-brand>img {
  margin-top: -25px !important;
  height: 300%;
  padding: 0px;
  margin:auto;
}
#navbarDropdown{
color: white !important;
margin-top: 0px;
  font-size: 22px;
  font-family: 'roboto', serif;
}