<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="card" style="margin-top: 30px;">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <ul class="footer_links text-center">
        <li>
          <a class="anchor_style_default facebook wow zoomInDown" style="visibility: visible;">
            <i class="text-center fa fa-facebook"></i>
          </a>
        </li>
        
        <li>
          <a class="anchor_style_default twitter wow zoomInUp" style="visibility: visible;">
            <i class="text-center fa fa-twitter "></i>
        </a>
        </li>
        
        <li>
          <a class="anchor_style_default g_plus wow zoomInDown" style="visibility: visible;">
            <i class="text-center fa fa-google-plus "></i>
          </a>
        </li>
      </ul>
      <p class="text-center default_text open_sans white_color">© 2018 Unimedia Solutions,  All rights reserved. </p>
    </blockquote>
  </div>
</div>